<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Presidential-Election-Data" data-toc-modified-id="Presidential-Election-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Presidential Election Data</a></span></li></ul></div>

# Presidential Election Data
Determine wheather a state is regarded as conservative, liberal or swing.

In [1]:
# import necessary packages
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
from requests.exceptions import RequestException
from contextlib import closing
from io import StringIO
import numpy as np

In [2]:
# 1996 ELECTORAL AND POPULAR VOTE SUMMARY is in html format
def simple_get(url):
    """
    Attempts to get the content at 'url' by making an HTTP GET request.
    If the content-type of response is some kind of HTML/XML, return the
    text content, otherwise return None.
    """
    try:
        with closing(get(url, stream=True)) as resp:
            if is_good_response(resp):
                # r.text is the content of the response in unicode, 
                # and r.content is the content of the response in bytes.
                return resp.content
            else:
                return None
            
    except RequestException as e:
        log_error('Error during requests to {0}:{1}'.format(url, str(e)))
        return None

In [3]:
def is_good_response(resp):
    """
    Return True if the response seems to be HTML/HTM, Flase otherwise.
    """
    content_type = resp.headers['Content-Type']
    return (resp.status_code == 200 
            and content_type is not None
            and content_type.find('html') > -1)

In [4]:
def log_error(e):
    """
    Print log errors.
    """
    print(e)

In [5]:
# Download 1996 presidential ELECTORAL AND POPULAR VOTE 
url = 'https://transition.fec.gov/pubrec/fe1996/elecpop.htm'
response = simple_get(url)
if response is not None:
    htm = BeautifulSoup(response, 'html.parser')
    # cast to string
    para = str(htm.find_all('pre'))
    temp_content = para[para.find('>AL'):]
    table_content = temp_content[1:temp_content.find('<st')]

In [6]:
table_content_li = [x for x in table_content.split('\r\n')]

In [7]:
content = []
for row in table_content_li[:-1]:
    a = row.split('        ')
    if a[1] == '':
        a[1] = 'n'
    if a[2] == '':
        a[2] = 'n'
    content.append(a)

In [8]:
# process exception: different length of row
content[8]

['DC', '3', 'n', '     158,220       17,339', '3,611', '      185,726 ']

In [9]:
update = content[8][3] + ' ' + content[8][4]
content[8][3] = update

In [10]:
temp_row = content[8]
del temp_row[4]
temp_row

['DC', '3', 'n', '     158,220       17,339 3,611', '      185,726 ']

In [16]:
# replace exception with updated row
content[8] = temp_row

In [17]:
# convert list to numpy array then to dataframe
df96 = pd.DataFrame(content)

In [20]:
df96.columns = ['State', 'Clinton','Dole','Popular vote','Total Popular vote']

In [21]:
df96

,State,Clinton,Dole,Popular vote,Total Popular vote
0,AL,n,9,"662,165 769,044 92,149","1,534,349"
1,AK,n,3,"80,380 122,746 26,333","241,620"
2,AZ,8,n,"653,288 622,073 112,072","1,404,405"
3,AR,6,n,"475,171 325,416 69,884","884,262"
4,CA,54,n,"5,119,835 3,828,380 697,847","10,019,484"
5,CO,n,8,"671,152 691,848 99,629","1,510,704"
6,CT,8,n,"735,740 483,109 139,523","1,392,614"
7,DE,3,n,"140,355 99,062 28,719","270,845"
8,DC,3,n,"158,220 17,339 3,611","185,726"
9,FL,25,n,"2,546,870 2,244,536 483,870","5,303,794"
10,GA,n,13,"1,053,849 1,080,843 146,337","2,299,071"
11,HI,4,n,"205,012 113,943 27,358","360,120"
12,ID,n,4,"165,443 256,595 62,518","491,719"
13,IL,22,n,"2,341,744 1,587,021 346,408","4,311,391"
14,IN,n,12,"887,424 1,006,693 224,299","2,135,842"
15,IA,7,n,"620,258 492,644 105,159","1,234,075"
16,KS,n,6,"387,659 583,245 92,639","1,074,300"
17,KY,8,n,"636,614 623,283 120,396","1,388,708"
18,LA,9,n,"927,837 712,586 123,293","1,783,959"
19,ME,4,n,"312,788 186,378 85,970","605,897"
20,MD,10,n,"966,207 681,530 115,812","1,780,870"
21,MA,12,n,"1,571,763 718,107 227,217","2,556,786"
22,MI,18,n,"1,989,653 1,481,212 336,670","3,848,844"
23,MN,10,n,"1,120,438 766,476 257,704","2,192,640"
24,MS,n,7,"394,022 439,838 52,222","893,857"
25,MO,11,n,"1,025,935 890,016 217,188","2,158,065"
26,MT,n,3,"167,922 179,652 55,229","407,261"
27,NE,n,5,"236,761 363,467 71,278","677,415"
28,NV,4,n,"203,974 199,244 43,986","464,279"
29,NH,4,n,"246,214 196,532 48,390","499,175"
30,NJ,15,n,"1,652,329 1,103,078 262,134","3,075,807"
31,NM,5,n,"273,495 232,751 32,257","556,074"
32,NY,33,n,"3,756,177 1,933,492 503,458","6,316,129"
33,NC,n,14,"1,107,849 1,225,938 168,059","2,515,807"
34,ND,n,3,"106,905 125,050 32,515","266,411"
35,OH,21,n,"2,148,222 1,859,883 483,207","4,534,434"
36,OK,n,8,"488,105 582,315 130,788","1,206,713"
37,OR,7,n,"649,641 538,152 121,221","1,377,760"
38,PA,23,n,"2,215,819 1,801,169 430,984","4,506,118"
39,RI,4,n,"233,050 104,683 43,723","390,284"
40,SC,n,8,"506,283 573,458 64,386","1,151,689"
41,SD,n,3,"139,333 150,543 31,250","323,826"
42,TN,11,n,"909,146 863,530 105,918","1,894,105"
43,TX,n,32,"2,459,683 2,736,167 378,537","5,611,644"
44,UT,n,5,"221,633 361,911 66,461","665,629"
45,VT,3,n,"137,894 80,352 31,024","258,449"
46,VA,n,13,"1,091,060 1,138,350 159,861","2,416,642"
47,WA,11,n,"1,123,323 840,712 201,003","2,253,837"
48,WV,5,n,"327,812 233,946 71,639","636,459"
49,WI,11,n,"1,071,971 845,029 227,339","2,196,169"
50,WY,n,3,"77,934 105,388 25,928","211,571"